@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap');

/* custom properties */

:root {

}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0;
}

.container, header {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: rgba(18, 99, 31, 0.575);
    padding: 0.5em;
}

#btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 0.6em;
    margin: 0.5em;
    border: unset;
    background-color:rgba(18, 99, 31, 0.575);
    color: rgb(240, 239, 239);
    border-radius: 5px;
}

/* typography */

h4 {
    margin: 0.4em 0;
    font-size: 1rem; /* adjust font size later */
}