@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

/* custom properties */

:root {
    --green: rgba(18, 99, 31, 0.575);
    --drk-green: rgba(18, 99, 31, 0.8);
    --drk-blue: rgb(0, 77, 158);
    --teal: rgb(78, 205, 172);
    --gradient: linear-gradient(45deg, rgba(78,205,172,0.5) 21%, rgba(0,77,158,0.5) 84%);
    --regular-text: 300;
    --bold-text: 600;
    --font: 'Raleway', sans-serif;
}

body {
    font-family: var(--font);
    font-weight: var(--regular-text);
    margin: 0;
    background-color: rgba(243, 243, 243, 0.81);
}

.container,
header {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    text-align: center;
    background: var(--gradient);
    padding: 0.5em;
    border-radius: 0 0 10px 10px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.filter-card,
.result-card,
#fav-list {
    background: #fff;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.21);
    margin: 1em;
    border-radius: 5px;
}

.filter-card {
    padding: 2em;
}

.result-card {
    padding: 1em 2em;
}

.results {
    display: flex;
    flex-direction: column;
}

.img-div {
    height: 15rem;
    padding-top: 0.5em;
}

.hide {
    display: none;
}

.btn {
    font-family: var(--font);
    font-weight: var(--bold-text);
    padding: 0.5em 0.8em;
    margin: 0.5em;
    border: unset;
    background-color: var(--gradient);
    color: rgb(240, 239, 239);
    border-radius: 5px;
}

.info-card {
    margin: 0.3em 0;
}


/* favorites and icons */

.fas,
.far {
    color: var(--teal);
}

.favorite {
    padding: 0.5em 0;
    margin: 0.2em 0;
    
}

.fav-ul {
    list-style-type: square;
    /* list-style-image: url();
     add a heart icon here! */
}

#fav-list {
    background-color: var(--drk-blue);
    padding: 1em;
    color: #fff;
}

/* typography */

h2 {
    font-size: 2rem;
    margin: 0.2em;
}

.subhead {
    font-size: 0.75em;
}

h4 {
    margin: 0.4em 0;
    font-size: 1rem;
    /* adjust font size later */
}

strong {
    font-weight: var(--bold-text);
    color: var(--drk-blue);
}

.link {
    text-decoration: none;
    color: var(--drk-blue);
    font-weight: var(--bold-text);
    margin-top: 0;
}

.link:hover {
    color: var(--drk-blue);
    border-bottom: 1px solid var(--drk-blue);
}

.fav-headline {
    font-size: 1.5rem;
    text-align: center;
}

.beer-name {
    font-size: 1.2rem;

}

.bold-beer {
    font-size: 2rem;
}



/* media */

@media (min-width: 800px) {
    .filters {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2em auto;
    }

    .filter-card {
        padding: 1.5em;
        margin: 0 1em;
        align-items: center;
    }

    .results {
        display: grid;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-gap: 0.25em;
    }

    .result-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        

    }

    .img-div {
       max-height: 300px;
       object-fit: scale-down;
    }
}