@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap');

/* custom properties */

:root {
    --green: rgba(18, 99, 31, 0.575);
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0;
}

.container, header {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    text-align: center;
    background-color: var(--green);
    padding: 0.5em;
    border-radius: 0 0 10px 10px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.filter-card {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.31); 
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.31);
    padding: 2em;
    margin: 12em;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 0.25em;
}


.result-card {
    border-radius: 5px;
    padding: 1em 2em;
    margin: 1em;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.21); 
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.21);
}

.img-div {
    height: 15rem;
    order: 1;
}

.hide {
    display: none;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 0.5em 0.8em;
    margin: 0.5em;
    border: unset;
    background-color: var(--green);
    color: rgb(240, 239, 239);
    border-radius: 5px;
}
/* typography */

h4 {
    margin: 0.4em 0;
    font-size: 1rem; /* adjust font size later */
}



/* media */

@media (min-width: 800px) {
    .filters {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2em auto;
    }

    .filter-card {
        padding: 0.5em;
        margin: 0 1em;
        align-items: center;
    }
}